*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.spot-light {
    z-index:   999;
    position: fixed;
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    pointer-events: none;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(89, 135, 235),
                0 0 60px rgb(1, 30, 110),
                0 0 100px rgb(151, 37, 185);
    animation: colors  5s infinite;
    transform: translate(-50%, -50%);
}  


@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    } 
100%{ 
    filter: hue-rotate(360deg);
}

}
.spot-light:before{
content: '';
position: absolute ;
background: rgb(25, 0, 255);
width: 30px;
height: 30px;
opacity: 0.2;
transform: translate(-30%,-30%);
border-radius: 50%;
} 
@media (min-aspect-ratio:16/9) {
    .background-clip{
     width: 100%;
     height: auto;
     background-position: center;
    }
}
@media(max-aspect-ratio:16/9){
    .background-clip{
     width: auto;
     height: 100%;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Logo{
    font-size: 2em;
    color: rgb(253, 254, 255);
    user-select: none;
    font-style: italic;

}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: white;
    border-radius:5px; 
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:1.1em;
    color:white ;
    font-weight: 500;
    margin-left: 40px ;
    transition: .5s;
}
.navigation .button:hover{
    background: aliceblue;
    color: rgb(42, 42, 56);
}
.background-clip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 440px;
    display: flex;
    background:transparent ;
    border: 2px solid bisque;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px aqua;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: px;
    margin-top: 8px;
    justify-content: center;
    font-size: 2em;
    color: rgb(135, 198, 214);
    display: flex;
    cursor: pointer;
    
}
.form-box h2 {
    font-size: 2em;
    color: rgb(177, 229, 245) ;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid rgb(177, 229, 245);
    margin: 30px 0;   
}
.register-link{
    color: aqua;
}
.passwordd{
    color: aqua;
}
.input-box label {
    position: absolute;
    top:15px;
    left: 20px;
    transform: translate(-20%);
    font-size: 1em;
    color: rgb(93, 223, 223);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: aqua;
    font-weight: 600;
    padding: 0 11px 0;

}
.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size:1.2em ;
    color: black;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: aquamarine;
    font-weight: 500;
    margin: -15px  0 15px;
    display: flex;
    justify-content: space-between;

}
.remember-forgot label input{
    accent-color: aqua;
    margin-right: 3px;
}
.remember-forgot a{
    color: aqua;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: rgb(152, 218, 218);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(35, 44, 48);
    font-weight: 500;
}
.login-register {
    font-size :0.9em;
    color: aqua;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
